.user-vote-list {
    display: flex;
}

.user-vote-list .user-vote-list__left {
    flex: 1;
}

.user-vote-list .user-vote-list__right {
    width: 20px;
}
.user-vote-list .user-vote-list__right--hidden {
    background-color: black;
}